In [21]:
import sqlite3
conn = sqlite3.connect('task1_7.db')  
c = conn.cursor()

In [41]:
#request = "SELECT  (random()*1000) as an1, (random()*1000) as an2, (random()*1000)as an3"
request = " CREATE TABLE table1 ( x INTEGER NOT NULL, y INTEGER NOT NULL, z INTEGER NOT NULL);"
c.execute(request)
tables = c.fetchall()

OperationalError: table table1 already exists

In [62]:
#request = "CREATE TABLE test (id INTEGER PRIMARY KEY NOT NULL, x REAL NOT NULL, y REAL NOT NULL, z REAL NOT NULL)"
#request = "INSERT INTO table1 ( x, y, z) SELECT  (random()*1000), (random()*1000), (random()*1000)"
request = "INSERT INTO table1 (x, y, z) VALUES( abs(random() % 11), abs(random() % 11), abs(random() % 11) )"

In [63]:
c.execute(request)
#results = c.fetchall()
results

[]