In [ ]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd

DB_HOST = '52.157.159.24'

#####################
#!введите свои реквизиты!

DB_USER = 'student7'
DB_USER_PASSWORD = 'student7_password'
DB_NAME = 'sql_ex_for_student7'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [ ]:
#--task4 (lesson5)
#-- Корабли: Сделать копию таблицы ships (ships_two_words), но у название корабля должно состоять из двух слов
request = """
CREATE TABLE ships_two_words as SELECT * from ships where name like '% %'

"""
pd.read_sql_query(request, conn)

In [ ]:
#--task1 (lesson5)
#-- Компьютерная фирма: Сделать view (pages_all_products), в которой будет постраничная разбивка всех продуктов (не более двух продуктов на одной странице). Вывод: все данные из laptop, номер страницы, список всех страниц


request = """
create view count_products_by_makers(maker, count) as 
(
SELECT model, 
      CASE WHEN number % 2 = 0 THEN number/2 ELSE number/2 + 1 END AS page_number, 
      CASE WHEN total % 2 = 0 THEN total/2 ELSE total/2 + 1 END AS num_of_pages
FROM (
      

select model,  
ROW_NUMBER() OVER(ORDER BY model DESC) AS number,  COUNT(*) OVER() AS total 
from (
select model from pc 
union all
select model from printer 
union all
select model from laptop 
)x
		
) X

)
"""
pd.read_sql_query(request, conn)

In [ ]:
#--task5 (lesson5)
#-- Корабли: Вывести список кораблей, у которых class отсутствует (IS NULL) и название начинается с буквы "S"
request = """
select ship from 
(select ship from outcomes where ship  not in (select class from classes)
except
select name from ships 
)p 
where ship like 'S%'

"""
pd.read_sql_query(request, conn)

In [ ]:
#--task6 (lesson5)
#-- Компьютерная фирма: Вывести все принтеры производителя = 'A' со стоимостью выше средней по принтерам производителя = 'C' и три самых дорогих (через оконные функции). Вывести model
request = """
select * from (
select printer.model, row_number() over (partition by printer order by price desc) as rn from printer join product on printer.model = product.model
where maker = 'A' and 
price > (select avg(price) from printer join product on printer.model = product.model
where maker = 'D') 
) p
where rn < 3
"""
pd.read_sql_query(request, conn)